@page
@model VAII_semestralna_praca.Pages.AboutUsModel
@{

}
<h1>O nás</h1>
<p>
    Táto stránka slúži na publikovanie básní rôznych slovenských autorov.
    Približuje verejnosti známu aj neznámu tvorbu.
</p>
<p>
    Ktokoľvek sa môže zaregistrovať a priblížiť tak verejnosti svoje básne.
</p>
