@page
@model VAII_semestralna_praca.Pages.AboutUsModel
@{

}
<h1>O nás</h1>
<p>
    Táto stránka slúži na publikovanie básní rôznych slovenských autorov.
    Približuje verejnosti známu aj neznámu tvorbu.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis faucibus eros vitae laoreet. Sed tincidunt laoreet tempus. Phasellus ut accumsan nunc. Phasellus feugiat, risus quis placerat sagittis, diam diam lobortis libero, in eleifend nunc massa nec dolor. Quisque in pulvinar dui, ut gravida quam. Ut tincidunt eu libero eu tempor. Vivamus venenatis enim cursus neque sollicitudin sodales.
</p>
<p>
    Maecenas mattis congue lacus a tincidunt. Aenean placerat nisi ac tincidunt semper. Fusce tristique, ante in venenatis efficitur, dolor metus ullamcorper lorem, at egestas sem felis in ex. In augue orci, placerat ut vehicula id, scelerisque vel ligula. Morbi sem lacus, ultrices id nulla at, accumsan pellentesque lectus. Quisque maximus erat at dictum placerat. Mauris lacus ante, mattis sed dignissim id, maximus sit amet nunc. Integer pretium purus at erat sodales, nec consequat urna fringilla. Morbi ac vulputate purus. Integer pulvinar, erat et egestas aliquet, risus augue efficitur nisl, ut mattis sem tellus vel neque.
</p>
<p>
    Nulla vestibulum orci ante, sed congue augue convallis vel. Ut laoreet erat et lectus posuere, condimentum pellentesque augue vehicula. Sed imperdiet libero in aliquet feugiat. Ut quis sollicitudin lectus, non vestibulum felis. Proin eget dictum nisi. In fermentum vulputate dui, quis tincidunt nunc. Ut feugiat rutrum felis, non viverra tortor aliquam vel. Nullam aliquam lorem sit amet eros ultrices, sit amet consectetur neque efficitur. Vivamus eu accumsan purus. Nulla interdum, nulla nec maximus lobortis, odio justo varius nisi, ut pulvinar libero odio ut risus.
</p>
<p>
    Curabitur dignissim molestie suscipit. In sed dignissim mi, sed gravida sapien. Ut quis libero ex. Curabitur mollis libero mauris, a fermentum nisi fermentum id. Morbi ut risus id libero hendrerit efficitur vitae a justo. Aenean aliquet turpis eget dapibus commodo. Donec rutrum ullamcorper varius. Pellentesque elit leo, faucibus at tellus in, interdum aliquam dolor. Nullam at nibh eu sapien varius sodales. Curabitur in tempor libero. Suspendisse eu tortor felis. Etiam et dui a ante pellentesque volutpat.
</p>
<p>
    Praesent volutpat molestie massa in suscipit. Proin imperdiet metus id rutrum efficitur. Vivamus bibendum, libero vel fermentum mollis, nulla eros dapibus tellus, luctus sollicitudin sem sem nec nisl. Phasellus sed tincidunt eros. Suspendisse tincidunt pulvinar nibh eget euismod. Aliquam egestas metus molestie sodales scelerisque. Nunc mauris lorem, condimentum non lorem a, ultricies maximus mi.
</p>