@page
@model IndexModel
@{
    ViewData["Title"] = "Domov";
}


<div class="homeText">
    Vitajte na našej prehliadke básní!
    Nechajte voľne plynúť predstavy a sny.
</div>

<div class="text-center">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1459fa00-2f18-4570-b371-1304e2cbd5fa/da72h2z-f54c2190-7f61-42db-a63f-fcdaa839d7aa.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMTQ1OWZhMDAtMmYxOC00NTcwLWIzNzEtMTMwNGUyY2JkNWZhXC9kYTcyaDJ6LWY1NGMyMTkwLTdmNjEtNDJkYi1hNjNmLWZjZGFhODM5ZDdhYS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.l9Yg5hMrmeZHBMKRZ-SwTR658aBkw_-AaKEfq3kkeLo" alt="welcome" id="welcome" />
</div>

