@page
@model PrivacyModel
@{
  
}
<h1>Etický kódex</h1>

<ul class="etikod">
    <li>Na stránke nie je dovolené uverejňovať vulgárne alebo urážlivé básne.</li>
    <li>Porušenie autorského zákona bude patrične riešené.</li>
</ul>