@page
@model PrivacyModel
@{
  
}
<h1>Etický kódex</h1>

<ul class="etikod">
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Praesent non lacus vel velit vulputate laoreet.</li>
    <li>Sed nec dui sagittis, tempus diam non, placerat risus.</li>
</ul>
<ul class="etikod">
    <li>Nunc eget libero ornare, sollicitudin tortor sed, euismod arcu.</li>
    <li>Fusce ornare est sit amet tellus scelerisque, eget fermentum turpis pulvinar.</li>
    <li>Proin faucibus justo sed sollicitudin gravida.</li>
    <li>Proin consectetur urna non rhoncus malesuada.</li>
    <li>Morbi rhoncus odio sed sollicitudin lobortis.</li>
    <li>Phasellus quis risus ac elit posuere iaculis.</li>
</ul>
<ul class="etikod">
    <li>Integer quis libero dignissim, ultricies sapien non, aliquam risus.</li>
    <li>Donec vehicula augue eu ante imperdiet rhoncus.</li>
    <li>Cras condimentum diam quis egestas lacinia.</li>
    <li>Ut aliquet lectus at risus auctor tempor.</li>
    <li>Ut in felis id ex finibus porta.</li>
</ul>
<ul class="etikod">
    <li>Suspendisse commodo velit lacinia, viverra erat eget, egestas magna.</li>
    <li>Vivamus tincidunt est id posuere tempus.</li>
</ul>
<ul class="etikod">
    <li>Nulla bibendum ligula quis faucibus aliquam.</li>
    <li>Ut non odio luctus, lobortis turpis non, auctor nibh.</li>
    <li>Donec eget ipsum cursus, lacinia nibh eget, egestas ipsum.</li>
    <li>Nullam vel nibh lobortis, dignissim est non, cursus nisi.</li>
</ul>
<ul class="etikod">
    <li>Suspendisse vel enim et magna scelerisque hendrerit vel et erat.</li>
    <li>Suspendisse in risus viverra, malesuada orci nec, lobortis arcu.</li>
    <li>Nunc vehicula nulla ac libero malesuada, vel elementum sapien blandit.</li>
    <li>Sed hendrerit velit quis arcu facilisis, a vestibulum orci dictum.</li>
</ul>
<ul class="etikod">
    <li>Sed convallis sapien eget lacinia aliquet.</li>
    <li>Maecenas hendrerit erat ut pretium gravida.</li>
    <li>Quisque vulputate magna mollis nibh scelerisque vestibulum.</li>
    <li>Phasellus vitae justo vel urna luctus tempor non eget odio.</li>
</ul>
<ul class="etikod">
    <li>Aenean eget lorem gravida, pellentesque felis at, tempor odio.</li>
    <li>Morbi iaculis magna at libero sagittis, non ultricies diam finibus.</li>
    <li>Donec aliquet lectus id magna egestas, vitae ultrices sem consequat.</li>
    <li>Ut id nulla eleifend, condimentum felis vitae, euismod augue.</li>
    <li>Duis gravida turpis vel purus molestie, at luctus purus sagittis.</li>
</ul>
<ul class="etikod">
    <li>Pellentesque in diam mollis, vulputate arcu ac, malesuada nibh.</li>
    <li>Vivamus in lorem a lorem molestie lobortis.</li>
</ul>
<ul class="etikod">
    <li>Nunc vel dui eget ligula feugiat varius.</li>
    <li>Sed molestie velit non laoreet viverra.</li>
    <li>Donec in magna at ipsum congue pulvinar eu at tortor.</li>
    <li>Aliquam vitae eros consequat, sollicitudin orci ut, tincidunt leo.</li>
</ul>