@page
@model VAII_semestralna_praca.Pages.Poems.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Poem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Poem.ID" />
            <div class="form-group">
                <label asp-for="Poem.Name" class="control-label"></label>
                <input asp-for="Poem.Name" class="form-control" />
                <span asp-validation-for="Poem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poem.Text" class="control-label"></label>
                <input asp-for="Poem.Text" class="form-control" />
                <span asp-validation-for="Poem.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poem.Genre" class="control-label"></label>
                <select asp-for="Poem.Genre" class="form-control"></select>
                <span asp-validation-for="Poem.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
